* {
    -fx-font-family: "Cambria";
    -fx-text-fill: rgb(195, 208, 210);
}
.button {
    -fx-font-size: 15pt;
}
.label {
    -fx-font-size: 25px;
}

Separator .line {
    -fx-border-width: 0;
    -fx-pref-height: 2;
    -fx-background-color: rgb(195, 208, 210);
}

.bg {
    -fx-background-color: rgb(71, 87, 112);
}

.button-non-clickable {
    -fx-background-color: #525252;
}

.button-clickable {
    -fx-background-color: rgb(218, 76, 102);
    -fx-cursor: hand;
    -fx-min-width: 100px;
}

.main-container {
    -fx-spacing: 20px;
    -fx-border-width: 3px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: rgb(41,71,95);
    -fx-border-color: rgb(195, 208, 210);
    -fx-max-height: 500;
    -fx-max-width: 650;
}

.title {
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: rgb(35, 62, 82);
    -fx-background-radius: 7;
    -fx-padding: 10 30 10 30;
}

.winners-label {
    -fx-padding: 10px;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

.table {
    -fx-font-size: 25pt;
}

.table .label {
    -fx-font-size: 25;
}

.winning-points {
    -fx-text-fill: #ffdb76;
    -fx-font-weight: bold;
}

.popup {
    -fx-background-color: rgba(35, 62, 82, 0.56);
    -fx-spacing: 20;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-border-color: rgb(195, 208, 210);
}

.popup-bg {
    -fx-fill-width: false;
}

