* {
    -fx-font-family: "Cambria";
}
.button {
    -fx-font-size: 15pt;
}
.label {
    -fx-font-size: 25px;
}

Separator .line {
    -fx-border-width: 0;
    -fx-pref-height: 2;
    -fx-background-color: rgb(0, 71, 73);
}

.bg {
    -fx-background-color: rgb(167, 191, 192);
}

.button-non-clickable {
    -fx-background-color: #525252;
}

.button-clickable {
    -fx-background-color: #cecece;
    -fx-cursor: hand;
    -fx-min-width: 100px;
}

.main-container {
    -fx-spacing: 20px;
    -fx-border-width: 3px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: rgb(94, 149, 150);
    -fx-border-color: rgb(0, 71, 73);
    -fx-max-height: 500;
    -fx-max-width: 500;
}

.title {
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: rgb(33, 86, 86);
    -fx-background-radius: 7;
    -fx-padding: 10 30 10 30;
}

.winners-label {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}

.table {
    -fx-font-size: 25pt;
}

.table .label {
    -fx-font-size: 25;
}

.winning-points {
    -fx-text-fill: #ffdb76;
    -fx-font-weight: bold;
}

.popup {
    -fx-background-color: rgba(33, 86, 86, 0.56);
    -fx-spacing: 20;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-border-color: rgb(18, 66, 121);
}

.popup-bg {
    -fx-fill-width: false;
}

