StackPane * {
    -fx-font-family: "Cambria";
    -fx-text-fill: rgba(226,228,241,255);
}

.label {
    -fx-font-size: 15pt;
}

.button {
    -fx-font-size: 15pt;
}

.main-scene {
    -fx-background-color: rgb(76, 115, 148);
}

ComboBox {
    -fx-cursor: hand;
    -fx-background-radius: 10;
    -fx-background-color: rgb(35, 62, 82);
    -fx-font-size: 15pt;
}

.combo-box .list-cell{
    -fx-background-color: rgb(41,71,95);
}

.combo-box .list-cell:hover{
    -fx-cursor: hand;
    -fx-background-color: rgb(35, 62, 82);
}

.combo-box .list-cell:selected{
    -fx-background-color: rgb(35, 62, 82);
}

.button-non-clickable {
    -fx-background-color: #525252;
}

.button-clickable {
    -fx-background-color: rgb(218, 76, 102);
    -fx-cursor: hand;
}

.play-button {
    -fx-background-color: rgb(182,54,77);
    -fx-text-fill: white;
}

.vbox-wrapper {
    -fx-pref-height: 200px;
    -fx-pref-width: 100px;
}

.top-pane-wrapper {
    -fx-pref-height: 120px;
    -fx-pref-width: 200px;
    -fx-background-color: rgb(41,71,95);
    -fx-fill-width: true;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: rgb(195, 208, 210);
}

.top-pane {
    -fx-pref-height: 100px;
    -fx-spacing: 40;
}

.top-label {
    -fx-text-fill: rgb(238, 238, 238);
    -fx-text-alignment: CENTER;
}

.team1Label {
    -fx-text-fill: rgb(218, 76, 102);
}

.team2Label {
    -fx-text-fill: rgb(114, 224, 93);
}

.current-player-label .text {
    -fx-underline: true;
    -fx-font-weight: bold;
}

.bottom-pane-container {
    -fx-pref-height: 100px;
    -fx-background-color: linear-gradient(to top, rgb(54, 54, 54), transparent, transparent);
}

.bottom-pane {
    -fx-spacing: -40;
    -fx-alignment: CENTER;
}

.back-button {
    -fx-background-color: #cecece;
    -fx-cursor: hand;
}

.button-menu {
    -fx-font-weight: bold;
}

.popup {
    -fx-background-color: rgb(41,71,95);
    -fx-pref-height: 250px;
    -fx-pref-width: 400px;
    -fx-spacing: 20;
    -fx-border-width: 2px;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-border-color: rgb(153, 161, 164);
}

.popup-bg {
    -fx-background-color: rgba(35, 62, 82, 0.4);
    -fx-fill-width: false;
}

.back-popup-button {
    -fx-max-width: 60px;
    -fx-background-color: transparent;
    -fx-translate-x: -20;
    -fx-translate-y: -20;
}

.back-popup-button Circle {
    -fx-stroke: rgb(153, 161, 164);
    -fx-stroke-width: 2px;
    -fx-fill: rgb(218, 76, 102);
}

.back-popup-button Button {
    -fx-background-color: transparent;
}

.in-hand-card {
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgb(0, 0, 0), 2, 100, 0, 0);
}

.selected-card {
    -fx-effect: dropshadow(one-pass-box, rgb(218, 76, 102), 10, 100, 0, 0);
}

.top-label-wrapper {
    -fx-spacing: 20;
}

.central-pane {
    -fx-spacing: 15;
}

.username {
    -fx-text-fill: rgb(195, 208, 210);
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.menu-label {
    -fx-font-size: 27pt;
    -fx-font-weight: bold;
}

StackPane > Label {
    -fx-background-color: rgba(41, 71, 95, 0.57);
    -fx-padding: 20px;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
    -fx-background-radius: 11;
    -fx-border-color: rgb(153, 161, 164);
    -fx-text-alignment: center;
}