* {
    -fx-font-family: "Cambria";
}

.button-wrapper {
    -fx-spacing: 10;
}

.button {
    -fx-background-color: rgb(31, 141, 160);
    -fx-font-size: 20pt;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

.title {
    -fx-font-size: 40pt;
    -fx-padding: 120px;
}