* {
    -fx-font-family: "Cambria";
    -fx-font-size: 15pt;
}

.vbox {
    -fx-pref-width: 100px;
    -fx-max-width: 500px;
    -fx-spacing: 15px;
}

.button-non-clickable {
    -fx-background-color: #525252;
}

.button-clickable {
    -fx-background-color: #cecece;
    -fx-cursor: hand;
}

.stackPane-top {
    -fx-background-color: rgb(31, 141, 160);
}

.text-field {
    -fx-max-width: 400px;
}

.back-button {
    -fx-background-color: #cecece;
    -fx-cursor: hand;
}

.popup {
    -fx-background-color: rgb(117, 179, 187);
    -fx-pref-height: 250px;
    -fx-pref-width: 400px;
    -fx-spacing: 20;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-border-color: rgb(18, 66, 121);
}

.popup-bg {
    -fx-background-color: rgba(109, 199, 192, 0.4);
    -fx-fill-width: false;
}

.back-popup-button {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-translate-x: -20;
    -fx-translate-y: -20;
}